body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input#max_cost{width:41em;}

div.centered{
  max-width: 900px;
  margin: 0px auto 20px auto;
}

h1{
  margin: 50px;
  text-align: center;
}

h1.active{
    position: fixed;
    top: 10px;
}


#container_1, #container_2{
  position: relative;
padding-bottom:90px;
}

#sections{
  width: 340px;
}

#sections > div{
  background: white;
  opacity: .2;
  margin-top: 200px;
  margin-bottom: 100px;
}
#sections > div:last-child{
  margin-bottom: 170px;
}
#sections > div.graph-scroll-active{
  opacity: 1;
}

#graph{
      margin-left: 40px;
        width: 500px;
          position: -webkit-sticky;
            position: sticky;
              top: 100px;
                float: right;
                }

#container_2 .annotations path{
fill:none;
stroke: cyan;
}

g#inner{
      border: solid blue 1px;
  }

div#example div#grafos{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

div#example #controls form{
    align-self: center;
}

div#example #controls{
    display: flex;
    flex-direction: column;
}

div#example #contents{
    display: flex;
    flex-direction:column;
}

table{
    width: 90%;
    align-self: center;
    text-align: left;
}

table thead{
}

table thead th{
    margin: 2px;
    background-color: lightgrey;
}

table tbody tr:nth-of-type(2n){
    background-color: #e6e2eb;
}
